<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
  The locals. variable checks if the user already introduced some input
  <% if (locals.letterNumber) { %>
    <!-- If the user introduced an input displays: -->
    <h1>There are <%= letterNumber %> letters in your name.</h1>
    <% } else { %>
      <!-- If the user didn't introduced any input: -->
      <h1>Enter your name below 👇</h1>
      <% } %>
  
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
</body>

</html>